# p.s. this file is automatically loaded by setup.py as install_requires (when calling `pip install -e ".[some-env]"`), 
# so no need to install it with `pip install -r` manually
packaging

# pandas is currently required, but installed separately
# pandas>=1.2.4

# build
setuptools >= 21.0.0
twine >= 3.4.1
wheel

# api
urllib3 >= 1.15.1
requests
certifi >= 14.05.14
datetime
python_dateutil >= 2.5.3
six >= 1.10
pyjwt

# config
configparser
