twine >= 3.4.1
wheel
certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
datetime
requests
configparser
# these can be made optional later on
#pandas>=1.2.4
#numpy>=1.19.5
pglast==v3.4
